<div class="docs-sidenav" id="docs-sidenav">
    <div class="wiki-nav-container">
        <dl class="tabs pill">
            <dd class="active"><a href="#core">Core</a></dd>
            <dd><a href="#components">Components</a></dd>
            <dd><a href="#views">Views</a></dd>
        </dl>
    </div>
    <div class="wiki-toc-container">
        <ul class="tabs-content">
            <li id="coreTab" class="wiki-tab-pane active">
                <ul class="wiki-toc">
                    <li><a href="{{site.coreurl}}overview">Overview</a></li>
                    <li><a href="{{site.coreurl}}installation">Installation</a>
                        <ul class="wiki-toc">
                            <li><a href="{{site.coreurl}}downloading">Downloading</a></li>
                            <li><a href="{{site.coreurl}}install-instructions">Install Instructions</a></li>
                        </ul>
                    </li>
                </ul>
            </li><!--Ending Core tab-->
            <li id="componentsTab" class="wiki-tab-pane">
                <ul class="wiki-toc">
                    <li><a href="{{site.compurl}}loading-indicator">Loading Indicator</a></li>
                    <li><a href="{{site.compurl}}tabs">Tabs</a></li>
                    <li><a href="{{site.compurl}}tooltips">Tooltips</a></li>
                </ul>
            </li><!--Ending Components tab-->
            <li id="viewsTab" class="wiki-tab-pane">
                <ul class="wiki-toc">
                    <li><a href="{{site.viewurl}}layouts">Layouts</a></li>
                </ul>
            </li><!--Ending Contributor tab-->
        </ul><!--Ending tab content-->
    </div>
</div>

